[Unit]
Description=uWSGI service for webapp

[Service]
ExecStartPre=/bin/bash -c 'mkdir -p /var/run/uwsgi.webapppackage; chown root:nginx /var/run/uwsgi.webapppackage; chmod g+w /var/run/uwsgi.webapppackage'
ExecStart=/bin/bash -c 'source /usr/share/nginx/html/site/bin/activate; DJANGO_SETTINGS_MODULE=DrProject.settings; uwsgi --ini /usr/share/nginx/html/site/webapp/uwsgi.ini'

[Install]
WantedBy=multi-user.target
